@import './components/navbar';
@import './components/cart-overlay';
@import './components/products';
@import './components/product';
@import './components/cart';

* {
  font-family: 'Raleway', sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.faded {
  background-color: rgba(57, 55, 72, 0.22);
  opacity: .3;
  filter: blur(.5px);
}